.play-grid {
  @include grid-3-cols;
  margin-bottom: 1.6rem;

  &-cell {
    width: 100%;
    padding-bottom: 100%;
    background-color: $color-dark-desaturated-cyan;
    @include apply-border-radius-medium;
    @include apply-box-shadow-inset;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
  }

  &-x {
    .play-grid-cell:hover {
      background-image: url("../../images/icon-x-outline.svg");
    }
  }
  &-o {
    .play-grid-cell:hover {
      background-image: url("../../images/icon-o-outline.svg");
    }
  }
  &-cell.active-x[data-cell-num] {
    background-image: url(../../images/icon-x.svg);
    pointer-events: none;
  }
  &-cell.active-o[data-cell-num] {
    background-image: url(../../images/icon-o.svg);
    pointer-events: none;
  }
  &-cell.win-x[data-cell-num] {
    background-color: $color-dark-cyan;
    background-image: url(../../images/icon-x-win.svg);
  }
  &-cell.win-o[data-cell-num] {
    background-color: $color-light-yellow;
    background-image: url(../../images/icon-o-win.svg);
  }
}
