.play-grid {
  @include grid-3-cols;
  margin-bottom: 1.6rem;

  &-cell {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: 0 0.2rem 0.2rem 0.2rem rgba($color-black, 0.2);
    background-color: $color-very-dark-desaturated-cyan;
    @include apply-border-radius-medium;
  }
}
