.play-grid {
  @include grid-3-cols;
  margin-bottom: 1.6rem;

  &-cell {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.4rem rgba($color-black-magic, 0.3);
    background-color: $color-very-dark-desaturated-cyan;
    border-radius: $border-radius-medium;
    -webkit-border-radius: $border-radius-medium;
    -moz-border-radius: $border-radius-medium;
    -ms-border-radius: $border-radius-medium;
    -o-border-radius: $border-radius-medium;
  }
}
