.play-stats {
  @include grid-3-cols;
  text-align: center;

  &-item {
    width: 100%;
    padding: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    @include apply-border-radius-medium;
  }

  .score-container-x {
    background-color: $color-dark-cyan;
  }
  .score-container-ties {
    background-color: $color-echo-blue;
  }
  .score-container-o {
    background-color: $color-light-yellow;
  }
  .score-heading {
    margin-bottom: 0.4rem;
    font-weight: 500;
  }
  .score {
    font-size: 1.6rem;
    font-weight: 700;
  }
}
