.top-nav {
  @include grid-3-cols;
  margin-bottom: 1.6rem;

  .logo {
    width: 60%;
    align-self: end;

    img {
      width: 100%;
    }
  }
  .btn-replay {
    width: 3.2rem;
    height: 3.2rem;
    justify-self: end;
    background-color: $color-echo-blue;
    background-image: url(../../images/icon-restart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border: none;
    box-shadow: 0 0.2rem 0 0.1rem rgba($color-light-echo-blue, 0.5);
    border-radius: $border-radius-small;
    -webkit-border-radius: $border-radius-small;
    -moz-border-radius: $border-radius-small;
    -ms-border-radius: $border-radius-small;
    -o-border-radius: $border-radius-small;
  }
}
