.top-nav {
  @include grid-3-cols;
  margin-bottom: 1.6rem;

  .logo {
    width: 60%;
    align-self: end;
    margin: 0;
  }

  .player-turn-container {
    @include apply-border-radius-medium(0.7rem);
    @include flex-center();
    gap: 0.8rem;
    background-color: $color-dark-desaturated-cyan;
    color: $color-echo-blue;
    text-transform: uppercase;
    font-weight: 500;
    @include apply-box-shadow-inset;
  }

  .player-turn {
    font-size: 1.8rem;
    font-weight: 700;
  }

  .btn-replay {
    width: 3.2rem;
    height: 3.2rem;
    justify-self: end;
    background-color: $color-echo-blue;
    background-image: url(../../images/icon-restart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border: none;
    @include apply-box-shadow-inset($color-dark-echo-blue);
    border-radius: $border-radius-small;
    -webkit-border-radius: $border-radius-small;
    -moz-border-radius: $border-radius-small;
    -ms-border-radius: $border-radius-small;
    -o-border-radius: $border-radius-small;

    &:hover {
      background-color: $color-dark-echo-blue;
    }
    &:active {
      box-shadow: none;
      transform: translateY(0.2rem);
      -webkit-transform: translateY(0.2rem);
      -moz-transform: translateY(0.2rem);
      -ms-transform: translateY(0.2rem);
      -o-transform: translateY(0.2rem);
    }
  }
}
