@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Setting browser font size */
html {
  /* font-size: 10px; For easier calculation */
  /* % of user's browser font size setting  */
  font-size: 62.5%;
  /* 10px/16px = 0.625 => 62.5% */
}
/* General Styling */
body {
  line-height: 1;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  height: 100vh;
  background-color: #f8e9dd;
}

/* ********************************* */
/* REUSABLE COMPONENTS  */
/* ********************************* */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ********************************* */
/* EXPENSES CONTAINER  */
/* ********************************* */
.container {
  width: 35%;
}
.balance,
.spending {
  padding: 2.8em;
  border-radius: 1.5rem;
}
strong {
  font-weight: 700;
}
/* ********************************* */
/* BALANCE SECTION  */
/* ********************************* */
.balance {
  background-color: #ec775f;
  color: #fffaf5;
  background-image: url(./images/logo.svg);
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 12%;
  margin-bottom: 1.6em;
}
.balance-heading {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
  color: #f8e9dd;
}
.balance-amount {
  font-size: 3rem;
}
/* ********************************* */
/* SPENDING SECTION  */
/* ********************************* */
.spending {
  background-color: #fffaf5;
}
/* ********************************* */
/* ATTRIBUTION  */
/* ********************************* */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.footer {
  position: absolute;
  bottom: 0;
}
