@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #192a33;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

html {
  font-size: 62.5%; }

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400; }

.top-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
  margin-bottom: 1.6rem; }
  .top-nav .logo {
    width: 60%;
    align-self: end; }
  .top-nav .player-turn-container {
    border-radius: 1.1rem;
    -webkit-border-radius: 1.1rem;
    -moz-border-radius: 1.1rem;
    -ms-border-radius: 1.1rem;
    -o-border-radius: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    background-color: #030506;
    color: #a9bfc9;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: inset 0 -0.4rem rgba(3, 5, 6, 0.5); }
  .top-nav .player-turn {
    font-size: 1.8rem;
    font-weight: 700; }
  .top-nav .btn-replay {
    width: 3.2rem;
    height: 3.2rem;
    justify-self: end;
    background-color: #a9bfc9;
    background-image: url(../../images/icon-restart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border: none;
    box-shadow: inset 0 -0.4rem rgba(135, 153, 161, 0.5);
    border-radius: 0.7rem;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    -ms-border-radius: 0.7rem;
    -o-border-radius: 0.7rem; }
    .top-nav .btn-replay:hover {
      background-color: #8799a1; }
    .top-nav .btn-replay:active {
      box-shadow: none;
      transform: translateY(0.2rem);
      -webkit-transform: translateY(0.2rem);
      -moz-transform: translateY(0.2rem);
      -ms-transform: translateY(0.2rem);
      -o-transform: translateY(0.2rem); }

.logo {
  width: 20%;
  margin: 0 auto 2.4rem; }
  .logo img {
    width: 100%; }

.game-choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.1rem;
  -webkit-border-radius: 1.1rem;
  -moz-border-radius: 1.1rem;
  -ms-border-radius: 1.1rem;
  -o-border-radius: 1.1rem;
  box-shadow: inset 0 -0.4rem rgba(3, 5, 6, 0.5);
  gap: 1.2rem;
  background-color: #1f3540;
  padding: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem; }
  .game-choices-heading {
    font-size: 1.2rem;
    color: #a9bfc9;
    font-weight: 700; }
  .game-choices-marks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #192a33;
    width: 100%;
    border-radius: 0.7rem;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    -ms-border-radius: 0.7rem;
    -o-border-radius: 0.7rem;
    padding: 0.6rem; }
    .game-choices-marks * {
      width: 100%;
      border-radius: 0.7rem;
      -webkit-border-radius: 0.7rem;
      -moz-border-radius: 0.7rem;
      -ms-border-radius: 0.7rem;
      -o-border-radius: 0.7rem;
      padding: 0.6rem;
      font-size: 2.4rem;
      font-weight: 800;
      color: #a9bfc9;
      text-align: center; }
    .game-choices-marks .selected {
      background-color: #a9bfc9;
      color: #192a33; }
  .game-choices-reminder {
    font-size: 0.8rem;
    color: #8799a1; }

.play-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
  margin-bottom: 1.6rem; }
  .play-grid-cell {
    width: 100%;
    padding-bottom: 100%;
    background-color: #1f3540;
    border-radius: 1.1rem;
    -webkit-border-radius: 1.1rem;
    -moz-border-radius: 1.1rem;
    -ms-border-radius: 1.1rem;
    -o-border-radius: 1.1rem;
    box-shadow: inset 0 -0.4rem rgba(3, 5, 6, 0.5); }

.play-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
  text-align: center; }
  .play-stats-item {
    width: 100%;
    padding: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 1.1rem;
    -webkit-border-radius: 1.1rem;
    -moz-border-radius: 1.1rem;
    -ms-border-radius: 1.1rem;
    -o-border-radius: 1.1rem; }
  .play-stats .score-container-x {
    background-color: #f1b237; }
  .play-stats .score-container-ties {
    background-color: #a9bfc9; }
  .play-stats .score-container-o {
    background-color: #31c3bd; }
  .play-stats .score-heading {
    margin-bottom: 0.4rem;
    font-weight: 500; }
  .play-stats .score {
    font-size: 1.6rem;
    font-weight: 700; }

.home-page {
  width: 35%; }

.game-page {
  width: 35%;
  display: none; }

.result-overlay {
  display: none; }
