@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-end-v-space-btw {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@mixin flex-dirn-with-gap($direction) {
  display: flex;
  flex-direction: $direction;
  gap: 1.2rem;
}
@mixin grid-3-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
}
@mixin apply-border-radius-medium {
  border-radius: $border-radius-medium;
  -webkit-border-radius: $border-radius-medium;
  -moz-border-radius: $border-radius-medium;
  -ms-border-radius: $border-radius-medium;
  -o-border-radius: $border-radius-medium;
}
