@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
@mixin grid-3-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
}
@mixin apply-border-radius-medium {
  border-radius: $border-radius-medium;
  -webkit-border-radius: $border-radius-medium;
  -moz-border-radius: $border-radius-medium;
  -ms-border-radius: $border-radius-medium;
  -o-border-radius: $border-radius-medium;
}

@mixin apply-box-shadow-inset($color: $color-very-dark-desaturated-cyan) {
  box-shadow: inset 0 -0.4rem rgba($color, 0.5);
}
