// Colors

// Primary
$color-light-yellow: #f1b237;
$color-dark-cyan: #31c3bd;

// Tints
$color-very-light-yellow: #f5c973;
$color-cyan: #6fd5d1;

// Accents
$color-echo-blue: #a9bfc9;
$color-dark-echo-blue: #8799a1;

// Neutral/ Greys
$color-black-pearl: #192a33;
$color-black-magic: #0f2129;
$color-dark-desaturated-cyan: #1f3540;
$color-very-dark-desaturated-cyan: #030506;
$color-black: #000;

// Dimensions
$container-width: 35%;
$cell-width: 30%;
$logo-width: 60%;

// Border-radius
$border-radius-small: 0.7rem;
$border-radius-medium: 1.1rem;
