// Colors

// Primary
$color-light-yellow: #f1b237;
$color-dark-cyan: #31c3bd;

// Tints
$color-very-light-yellow: #f5c973;
$color-cyan: #6fd5d1;

// Accents
$color-echo-blue: #a9bfc9;
$color-light-echo-blue: #cbd9df;

// Neutral/ Greys
$color-black-pearl: rgb(25, 42, 51);
$color-very-dark-desaturated-cyan: #1f3540;
