@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none; }

html {
  font-size: 62.5%; }

body {
  background-color: #fafafa;
  background-image: url(../../images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: 100% 35vh;
  background-position: top center;
  height: 100vh; }

.body-bg-dark {
  background-color: #161722;
  background-image: url(../../images/bg-desktop-dark.jpg); }

.container {
  width: 40%;
  margin: auto; }

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400; }

input[type="text"] {
  font-size: inherit;
  font-family: inherit; }

.section-to-do__metrics {
  font-size: 1.6rem; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

.btn {
  background-color: transparent;
  border: none;
  padding: 1.8rem;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }
  .btn-checkbox {
    border: 1px solid #e4e5f1;
    border-radius: 50%;
    padding: 1.2rem; }
    .btn-checkbox-dark {
      border: 1px solid #393a4c; }
    .btn-checkbox:hover {
      border: 1px solid #57ddff; }
  .btn-close {
    background-image: url(../../images/icon-cross.svg);
    opacity: 0; }
    .btn-close-dark {
      filter: invert(50%); }
  .btn-completed {
    background: url(../../images/icon-check.svg), linear-gradient(135deg, #57ddff 0%, #bf59f2 100%);
    background-position: center center;
    background-repeat: no-repeat; }

.section-to-do__metrics {
  color: #9394a5;
  justify-content: space-between; }
  .section-to-do__metrics-nav-list {
    display: flex;
    gap: 1.2rem;
    list-style-type: none; }
  .section-to-do__metrics-dark.section-to-do__items {
    color: #4d5066;
    border-bottom: none; }

.section-to-do__items {
  background-color: #fafafa;
  padding: 1.8rem;
  border-bottom: 0.8px solid #e4e5f1;
  display: flex;
  align-items: center;
  gap: 1.2rem; }
  .section-to-do__items.section-to-do__new {
    border: none; }
  .section-to-do__items-textbox {
    border: none;
    width: 100%;
    background-color: transparent;
    color: #484b6a;
    cursor: pointer; }
    .section-to-do__items-textbox::placeholder {
      color: #9394a5; }
    .section-to-do__items-textbox-dark {
      color: #cacde8; }
      .section-to-do__items-textbox-dark::placeholder {
        color: #777a92; }
  .section-to-do__items:hover .btn-close {
    opacity: 1; }
  .section-to-do__items-dark {
    background-color: #25273c;
    color: #cacde8;
    border-bottom: 0.8px solid #393a4c; }

.textbox-completed {
  text-decoration: line-through;
  color: #d2d3db; }
  .textbox-completed-dark {
    color: #4d5066; }

.header {
  padding-top: 7.2rem;
  display: flex;
  justify-content: space-between;
  min-height: 12rem;
  margin-bottom: 6.4rem; }
  .header__title {
    text-transform: uppercase;
    letter-spacing: 4.8px;
    color: #fafafa; }
  .header__toggle-button {
    align-self: flex-end;
    background-image: url(../../images/icon-moon.svg); }
  .header-toggle-button-dark {
    background-image: url(../../images/icon-sun.svg); }

.section-to-do__new {
  border-radius: 0.9rem;
  margin-bottom: 3.2rem; }

.section-to-do__list {
  border-radius: 0.9rem;
  box-shadow: 0px 20px 50px rgba(210, 211, 219, 0.5);
  overflow: hidden;
  margin-bottom: 4.8rem;
  cursor: pointer; }
  .section-to-do__list-dark {
    box-shadow: 0px 20px 50px rgba(37, 39, 60, 0.5); }

.section-to-do__instructions {
  color: #9394a5;
  font-size: 1.4rem;
  text-align: center; }
  .section-to-do__instructions-dark {
    color: #4d5066; }
