@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../../images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: 100% 30vh;
  background-position: top center;
  height: 100vh; }

.container {
  width: 40%;
  margin: auto; }

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

.btn {
  background-color: transparent;
  border: none;
  padding: 1.8rem;
  background-repeat: no-repeat;
  background-position: center; }
  .btn-checkbox {
    border: 1px solid #e4e5f1;
    border-radius: 50%;
    padding: 1.2rem; }
  .btn-light-theme {
    background-image: url(../../images/icon-moon.svg); }
  .btn-dark-theme {
    background-image: url(../../images/icon-sun.svg); }

.section-to-do__items {
  background-color: #fafafa;
  padding: 1.8rem;
  border-radius: 0.9rem; }

.header {
  padding-top: 7.2rem;
  display: flex;
  justify-content: space-between;
  min-height: 12rem;
  margin-bottom: 6.4rem; }
  .header__title {
    text-transform: uppercase;
    letter-spacing: 4.8px;
    color: #fafafa; }
  .header__theme-toggle-button {
    align-self: flex-end; }
