@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none; }

html {
  font-size: 62.5%; }

body {
  background-color: #fafafa;
  background-image: url(../../images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: 100% 35vh;
  background-position: top center;
  height: 100vh; }

.container {
  width: 40%;
  margin: auto; }

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400; }

input[type="text"] {
  font-size: inherit;
  font-family: inherit; }

.section-to-do__metrics {
  font-size: 1.6rem; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

.btn {
  background-color: transparent;
  border: none;
  padding: 1.8rem;
  background-repeat: no-repeat;
  background-position: center; }
  .btn-checkbox {
    border: 1px solid #e4e5f1;
    border-radius: 50%;
    padding: 1.2rem; }
  .btn-close {
    background-image: url(../../images/icon-cross.svg);
    color: #9394a5; }
  .btn-light-theme {
    background-image: url(../../images/icon-moon.svg); }
  .btn-dark-theme {
    background-image: url(../../images/icon-sun.svg); }

.section-to-do__new {
  border-radius: 0.9rem;
  margin-bottom: 3.2rem; }

.section-to-do__list {
  border-radius: 0.9rem;
  box-shadow: 0px 20px 50px rgba(210, 211, 219, 0.5);
  overflow: hidden; }

.section-to-do__metrics {
  color: #9394a5;
  justify-content: space-between; }
  .section-to-do__metrics-nav-list {
    display: flex;
    gap: 1.2rem;
    list-style-type: none; }
    .section-to-do__metrics-nav-list :last-child {
      margin-left: auto; }

.section-to-do__items {
  background-color: #fafafa;
  padding: 1.8rem;
  border-bottom: 0.8px solid #e4e5f1;
  display: flex;
  align-items: center;
  gap: 1.2rem; }
  .section-to-do__items-textbox {
    border: none;
    width: 100%;
    background-color: transparent;
    color: #484b6a; }
    .section-to-do__items-textbox::placeholder {
      color: #9394a5; }

.header {
  padding-top: 7.2rem;
  display: flex;
  justify-content: space-between;
  min-height: 12rem;
  margin-bottom: 6.4rem; }
  .header__title {
    text-transform: uppercase;
    letter-spacing: 4.8px;
    color: #fafafa; }
  .header__theme-toggle-button {
    align-self: flex-end; }
