@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* General Styling */
body {
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  line-height: 1;
  background-color: #19a2ae;
}
body::before {
  content: url(./images/bg-pattern-top.svg);
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
}
body::after {
  content: url(./images/bg-pattern-bottom.svg);
  position: absolute;

  bottom: 0%;
  right: 0%;
  transform: translate(50%, 50%);
}
/**********************/
/* PROFILE CARD */
/**********************/

/**********************/
/* ATTRIBUTION */
/**********************/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
