@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; For easier calculation */
  /* % of user's browser font size setting  */
  font-size: 62.5%;
  /* 10px/16px = 0.625 => 62.5% */
}
/* General Styling */
body {
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1;
  background-color: #19a2ae;
}
/**********************/
/* REUSABLE COMPONENTS */
/**********************/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-primary {
  font-size: 2rem;
}
/**********************/
/* PROFILE CARD BACKGROUND*/
/**********************/
.container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.bg-top,
.bg-bottom {
  position: absolute;
  z-index: -1;
}
.bg-top {
  top: -10%;
  left: 15%;
  transform: translate(-50%, -50%);
}
.bg-bottom {
  top: 110%;
  left: 85%;
  transform: translate(-50%, -50%);
}
/**********************/
/* PROFILE CARD */
/**********************/
.profile-container {
  background-image: url(./images/bg-pattern-card.svg);
  border-radius: 11px;
  overflow: hidden;
  width: 25%;
  padding-top: 12.8rem;
}
.profile-info,
.profile-social {
  background-color: #fff;
}

/**********************/
/* PROFILE INFO */
/**********************/
.profile-info {
  position: relative;
}
.profile-info-photo {
  width: 8.6rem;
  height: 8.6rem;
  border-radius: 50%;
  border: 5px solid #fff;

  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
}
.profile-info {
  padding: 6.4rem 0 3.2rem 0;
  text-align: center;
  border-bottom: 0.1px solid #969696;
}

/**********************/
/* PROFILE SOCIAL */
/**********************/
.profile-social {
  display: flex;
  justify-content: space-evenly;
}

/**********************/
/* ATTRIBUTION */
/**********************/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/**********************/
/* MEDIA QUERIES */
/**********************/
@media only screen and (max-width: 600px) {
  .bg-top {
    transform: translate(-80%, -50%);
  }
  .bg-bottom {
    transform: translate(-20%, -50%);
  }
  .profile-container {
    width: 80%;
  }
}
