* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: $dark-blue;
  color: $light-cyan;
  font-family: "Manrope", sans-serif;
  height: 100vh;
  @include flex;
  @include flex-center;
}
