@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
html {
  font-size: 62.5%;
}
body {
  font-size: $font-size-quote;
  font-weight: $font-weight-bold;
  line-height: 1;
}
