@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Setting browser font size */
html {
  /* font-size: 10px; For easier calculation */
  /* % of user's browser font size setting  */
  font-size: 62.5%;
  /* 10px/16px = 0.625 => 62.5% */
}
/* General Styling */
body {
  line-height: 1;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #2f415b;
  background-color: #0d192b;
  height: 100vh;
}
/*************************/
/* GENERAL REUSABLE COMPONENTS */
/*************************/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-dirn-col {
  flex-direction: column;
}
.flex-justify-center {
  display: flex;
  justify-content: center;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.heading-primary {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 1.6rem;
}
strong {
  font-weight: 400;
}
/*************************/
/* NFT CARD */
/*************************/
.container {
  max-width: 30rem;
  background-color: #14253d;
  padding: 2rem;
  border-radius: 1.1rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.5);
  color: #8bacda;
  font-weight: 300;
  margin: 0.4rem;
}
.equilibrium-img {
  background: url(./images/image-equilibrium.jpg);
  background-size: 100% 100%;
  background-position: center;
  width: 26rem;
  height: 26rem;
  border-radius: 0.9rem;
  margin-bottom: 2.4rem;
}
.view-icon-overlay {
  width: 20%;
  display: none;
}
.nft-description {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}
.cta-details {
  justify-content: space-between;
  font-size: 1.4rem;
  padding-bottom: 2.4rem;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid #2f415b;
}
.eth-price {
  color: #00fff7;
  font-weight: 600;
}
.eth-price::before,
.days-left::before {
  margin-right: 0.8rem;
}
.eth-price::before {
  content: url(./images/icon-ethereum.svg);
}
.days-left::before {
  content: url(./images/icon-clock.svg);
}
.avatar-details {
  gap: 1.6rem;
  font-size: 1.4rem;
}
.avatar-photo {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.avatar-name {
  color: #ffffff;
}
/*************************/
/* ACTIVE STATES */
/*************************/
.equilibrium-img:hover {
  background-image: linear-gradient(
      rgba(0, 255, 247, 0.4),
      rgba(0, 255, 247, 0.4)
    ),
    url(./images/image-equilibrium.jpg);
  cursor: pointer;
}
.equilibrium-img:hover .view-icon-overlay {
  display: inline-block;
}
.avatar-name:hover,
.card-heading:hover {
  color: #00fff7;
  cursor: pointer;
}
/*************************/
/* ATTRIBUTION */
/*************************/
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
