@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Setting browser font size */
html {
  /* font-size: 10px; For easier calculation */
  /* % of user's browser font size setting  */
  font-size: 62.5%;
  /* 10px/16px = 0.625 => 62.5% */
}
/* General Styling */
body {
  line-height: 1;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  height: 100vh;
}
