@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Setting browser font size */
html {
  /* font-size: 10px; For easier calculation */
  /* % of user's browser font size setting  */
  font-size: 62.5%;
  /* 10px/16px = 0.625 => 62.5% */
}
/* General Styling */
body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: #f2ebe3;
  color: #6c7289;
  height: 100vh;
}

/*************************
/* GENERAL REUSABLE COMPONENTS  */
/*************************/
.container {
  max-width: 60%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
.subheading {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}
.heading-primary {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 3.6rem;
  color: #1c232b;
  line-height: 1.05;
  margin-bottom: 2.4rem;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/*************************
/* ARTICLE */
/*************************/
.pdt-img {
  display: inline-block;
  content: url(./images/image-product-desktop.jpg);
  width: 50%;
}
.pdt-description {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}

/*************************
 /* ATTRIBUTION  */
/*************************/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 90%;
  }
  .flex-dirn--col {
    flex-direction: column;
  }
  /* Image addition for mobile screens */
  .pdt-img {
    content: url(./images/image-product-mobile.jpg);
    width: 100%;
  }
}
