@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; For easier calculation */
  /* % of user's browser font size setting  */
  font-size: 62.5%;
  /* 10px/16px = 0.625 => 62.5% */
}
