@media (max-width: 600px) {
  .container {
    max-width: 90%;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .wrapper {
    background-image: none;
  }
  .section-hero {
    flex-direction: column;
    padding-top: 3.2rem;
    gap: 2.4rem;
  }
  .hero-textbox {
    width: 100%;
  }
  .hero-imagebox {
    display: block;
  }
}
