/* Medium screens (tablet) */
@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper {
    background-size: 80%;
    background-position: 250%;
  }
  .section-hero {
    min-height: 50vh;
  }
  .hero-textbox {
    width: 50%;
  }
}

/* Mobile screens */
@media (max-width: 600px) {
  .container {
    max-width: 90%;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .wrapper {
    background-image: none;
  }
  .section-hero {
    flex-direction: column;
    padding-top: 3.2rem;
    gap: 2.4rem;
  }
  .hero-textbox {
    width: 100%;
  }
  .hero-imagebox {
    display: block;
  }
}
/* Small mobile screens */
@media (max-width: 280px) {
  .cta-btn {
    padding: 1.6rem 1.2rem;
  }
}
