@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* GLOBAL RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GENERAL STYLING */
html {
  font-size: 62.5%;
}
body {
  background-color: #ff7a7a;
  background-image: url(./images/bg-intro-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;

  height: 100vh;
  justify-content: center;
}

/* REUSABLE CLASSES */
.flex-center--v {
  display: flex;
  align-items: center;
}
.heading-secondary {
  font-size: 4.8rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
strong {
  font-weight: 600;
}
a:link,
a:visited {
  text-decoration: none;
  color: #ff7a7a;
}
a:hover,
a:active {
  color: #ff9494;
}
input {
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 1.4rem;
  color: #000;
}

input::placeholder {
  color: #3e3c49b3;
}
input[placeholder] {
  border: 1px solid rgba(185, 182, 211, 0.3);
}
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

/***********************/
/* CTA SECTION */
/***********************/
.section-cta {
  width: 80%;
  gap: 2.4rem;
}
.section-cta * {
  width: 100%;
}
.price-infobox {
  background-color: #6055a5;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
  padding: 1.2em;
  border-radius: 1.1rem;
  text-align: center;
  box-shadow: 2px 4px 2px 2px rgba(0, 0, 0, 0.15);
}
.cta-form {
  background-color: #fff;
  padding: 4.8rem 4.8rem 3.2rem;
  border-radius: 1.1rem;
}
.cta-form * {
  width: 100%;
  padding: 1.2em;
  border-radius: 0.9rem;
  margin-bottom: 2.4rem;
}
.cta-form :nth-last-child(2),
.cta-form :last-child {
  margin-bottom: 0;
}
.submit-btn {
  background-color: #38cc8c;
  text-transform: uppercase;
  color: inherit;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  box-shadow: 0px 2px 2px 2px rgb(0 0 0 / 18%);
}
.disclaimer {
  display: block;
  color: #b9b6d3;
  font-size: 1rem;
  text-align: center;
}
.disclaimer * {
  padding: 0;
}

/***********************/
/* FOOTER */
/***********************/
.footer {
  position: absolute;
  bottom: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.input-box {
  position: relative;
  padding: 0;
}
.error {
  border: 2px solid hsl(0, 100%, 79%);
}
.input-box.error {
  margin-bottom: 4rem;
}
.error input {
  border: none;
}
.error input[value] {
  color: hsl(0, 100%, 79%);
}
.error::before {
  content: url(./images/icon-error.svg);
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
.error::after {
  content: attr(data-error);
  color: hsl(0, 100%, 79%);
  position: absolute;
  width: 100%;
  text-align: right;
  top: 100%;
  left: 0;
  padding-top: 0.4rem;
  font-style: italic;
  font-size: 1.2rem;
}
