@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* GLOBAL RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GENERAL STYLING */
html {
  font-size: 62.5%;
}
body {
  background-color: hsl(0, 100%, 74%);
  background-image: url(./images/bg-intro-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: "Poppins", sans-serif;

  height: 100vh;
  justify-content: center;
}

/* REUSABLE CLASSES */
.flex-center--v {
  display: flex;
  align-items: center;
}

/***********************/
/* CTA SECTION */
/***********************/
.section-cta {
  width: 80%;
  gap: 2.4rem;
}

/***********************/
/* FOOTER */
/***********************/
.footer {
  position: absolute;
  bottom: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
