.search-bar {
  @include flex-center;
  width: 100%;
  border-radius: 1.1rem;
  -webkit-border-radius: 1.1rem;
  -moz-border-radius: 1.1rem;
  -ms-border-radius: 1.1rem;
  -o-border-radius: 1.1rem;

  &-input {
    width: 50%;
    padding: 1.2rem;
    font-family: inherit;
    border: none;
    outline: none;

    &::placeholder {
      color: $dark-gray;
    }
  }
  &-btn {
    background-color: $very-dark-gray;
    border: none;
    align-self: stretch;
    padding: 0.8rem 1.2rem;
    img {
      width: 100%;
    }
  }
}
