* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 62.5%;
}
body {
  background-color: $color-light-very-light-gray;
  background-image: url(../../images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: 100% 35vh;
  background-position: top center;
  height: 100vh;
}
.body-bg-dark {
  background-color: $color-dark-very-dark-blue;
  background-image: url(../../images/bg-desktop-dark.jpg);
}
.container {
  width: 40%;
  margin: auto;
}
