@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
html {
  font-size: 62.5%; }

body {
  font-size: 2.8rem;
  font-weight: 800; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }
