* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: radial-gradient(at 50% 0%, #1f3756, #141539);
  height: 100vh;
  line-height: 1;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  color: #1f3756;
  color: #141539;
}
