.section-to-do__metrics {
  color: $color-light-dark-grayish-blue;
  justify-content: space-between;

  &-nav-list {
    display: flex;
    gap: 1.2rem;
    list-style-type: none;
  }
  &-dark.section-to-do__items {
    color: $color-dark-very-dark-grayish-blue;
    border-bottom: none;
  }
}
.section-to-do__items {
  background-color: $color-light-very-light-gray;
  padding: 1.8rem;
  border-bottom: 0.8px solid $color-light-very-light-grayish-blue;

  display: flex;
  align-items: center;
  gap: 1.2rem;

  &.section-to-do__new {
    border: none;
  }

  &-textbox {
    border: none;
    width: 100%;
    background-color: transparent;
    color: $color-light-very-dark-grayish-blue;
    cursor: pointer;

    &::placeholder {
      color: $color-light-dark-grayish-blue;
    }

    &-dark {
      color: $color-dark-light-grayish-blue;
      &::placeholder {
        color: $color-dark-dark-grayish-blue;
      }
    }
  }
  &:hover .btn-close {
    opacity: 1;
  }

  &-dark {
    background-color: $color-dark-very-dark-desaturated-blue;
    color: $color-dark-light-grayish-blue;
    border-bottom: 0.8px solid $color-dark-extra-dark-grayish-blue;
  }
}
.textbox-completed {
  text-decoration: line-through;
  color: $color-light-light-grayish-blue;

  &-dark {
    color: $color-dark-very-dark-grayish-blue;
  }
}
